{% extends 'base.html' %}
{% load static %}
{% block custom_css %}
<link rel="stylesheet" href="{% static 'css/style.css' %}">
{% endblock custom_css %}

{% block title %}
  Medicine Dose Tracker
{% endblock %}

{% block content %}
  <div class="row">
    <div class="col">
        <div id="home-content">
            <h1>Medicine Dose Tracker - Get Started!</h1>
            <hr>
            {% if request.user.is_authenticated %}
              <a class="btn btn-light btn-lg" href="{% url 'medicines:list' %}" role="button">Get Started !</a>
            {% else %}
              <a class="btn btn-light btn-lg" href="{% url 'users:login' %}?next={% url 'medicines:list' %}" role="button">Get Started !</a>
            {% endif %}
        </div>
    </div>
  </div>
{% endblock %}
